/* @font-face {
	font-family: 'Atten';
	src: url("../public/fonts/new-atten.otf");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Spirit';
	src: url("../public/fonts/spirit.ttf");
	font-weight: 300;
	font-style: normal
} */